/* AllDestinations.css */

.all-destinations {
  padding: 16px;
  background-color:gray;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.no-data-message {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
}
