/* DestinationItem.css */

.destination-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--gradientColorSecond);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.destination-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.destination-image {
  width: 82%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  height: 12rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.destination-item h3 {
  font-size: 1.4rem;
  margin: 0;
  color: black;
  font-weight: bold;
}

.destination-item p {
  margin: 5px 0;
  color: black;
  font-size: 0.9rem;
}

.destination-item .price {
  font-weight: bold;
  color: red;
}
